/*h1{
    color: orange;
    text-shadow: 20px 20px 20px grey;
    text-align: right;
}

body{
    background-color: lightblue;
}
h2{
    font-style: italic;
    color: yellowgreen;
}

p3{
    color: purple;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    border: 2px solid black;
    padding: 10px;
    margin-left: 300px;
    text-align: justify;
    background-color: lightslategray;
    border-radius: 25px;
    width:400px;
    margin-bottom: 45px;
    font-family: Arial Bold;
}

#p4{
    color: brown;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
}

.center{
    text-align: center;
    border: 3px solid yellow;
    padding: 30px;
    margin: 100px;
}

a: link {
    color: blue;
    background-color: white;
}

a:hover {
    color: red;
    background-color: white;
}

a: active {
    color: yellow;
    background-color: white;
}
a:visited {
    color: green;
    background-color: white;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
        justify-content: space-between;
    margin: 0;
    padding: 20px;
}


.top-banner-subtext {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
}
.top-banner-text {
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    margin: 0;
    background-color: yellow;
}

.highlight1 {
margin-top: 10px;
    margin-left: 70px;
}

.highlight2 {
    margin-left: 120px;
}

.container {
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 50px;

}


.a{
    min-width: 500px;
    height: 500px;
    color: black;
    display: table-caption; /*--small block instead of full width--*/
    text-align: center;
    line-height: 50px; /*--to center text vertically--*/
    margin-right: 10px;
    border: 2px solid black; /* See border */
}
.b{
    min-width: 500px;
    height: 500px;
    background-color: none;
    color:black;
    display: table-caption;
    text-align: center;
    line-height: 50px;
    margin-left: 1000px;
        border: 2px solid black; /* See border */

}

.blockb-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blockb-content {
    font-size: 16px;
    line-height: 1.5;
}
.c{
    min-width: 500px;
    height: 500px;
    background-color: none;
    color:black;
    display: table-caption;
    text-align: center;
    line-height: 50px;
    margin-left: 700px;
        border: 2px solid black; /* See border */

}

    .blockb-title {
    font-size: 20px;
    font-weight: bold;
    }
